<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vacancyService" class="com.ysmal.ssc.service.VacancyService"></bean>
    <bean id="usService" class="com.ysmal.ssc.service.UserService"></bean>
    <bean id="userDAO" class="com.ysmal.ssc.dao.UserDAO"></bean>
    <bean id="userDetailsServiceImpl" class="com.ysmal.ssc.service.UserDetailsServiceImpl"></bean>
    <bean id="vacancyDAOImpl" class="com.ysmal.ssc.dao.VacancyDAOImpl"></bean>
    <bean id="mainManager" class="com.ysmal.ssc.server.ThreadManager"></bean>
    <bean id="managerService" class="com.ysmal.ssc.service.ManagerService"></bean>

    
</beans>